@import url('https://fonts.googleapis.com/css2?family=Acme&family=Carter+One&family=Domine:wght@500&family=Fredoka+One&family=Merriweather&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Rowdies&display=swap');


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;


    --white: white;
    --black: black;
    --navht: 75px;

    list-style: none;
    text-decoration: none;

    /* transform: all .3s ease; */
    -webkit-user-select: none;
    scroll-behavior: smooth;




}

body {
    display: flex;
    flex-direction: column;
}









/* ===========================================================
                           NAV
=============================================================== */









nav {
    /* transition:visibility .2s ease ; */
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 100;



    width: 100%;
    height: var(--navht);
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 8px 0px black;
}










/* -------------------nav_left---------------------------- */









.nav_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;




}

#logo {
    height: calc(var(--navht) - 20px);
    display: flex;
    margin: 0px 30px;
}








/* -------------------nav_center---------------------------- */






.nav_center {
    display: flex;
    flex: 3;



}

.nav_center ul {

    margin: 0px auto;
}


.nav_center ul li {
    display: inline;
    line-height: var(--navht);

    margin: 0px 5px;

}

.nav_center ul li a {
    font-size: 20px;
    padding: 7px 14px;
    color: black;
    font-family: 'Domine', serif;

    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.nav_center ul li a:hover,
a:active {
    background-color: rgb(210, 208, 208);
}







/* -------------------nav_right---------------------------- */








.nav_right {

    flex: 1;

    line-height: var(--navht);

    margin: auto 10px;
}




.nav_right label {
    display: flex;

    justify-content: center;
}




#search_bar {
    font-family: 'Domine', serif;
    text-align: center;

    margin: auto 5px;
    width: 200px;
    height: 35px;

    border: 2px solid black;
    border-radius: 10px;




}

#search_icon::before {
    font-size: 22px;
}


#search_icon {
    margin: auto 3px;




}

/* ------------totop--------------- */

#totop {

    z-index: 90;
    position: fixed;
    cursor: pointer;
    background-color: rgb(0, 175, 244);
    color: white;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 30px;

    border-radius: 50px;

}







/* --------------------hamburger----------
-------------------------------------------- */

.label_bars {
    display: flex;
    margin: auto 0px;
    color: rgb(0, 0, 0);
    height: var(--navht);
    transition: all 0.3s ease-in-out;
}

#bar_icon {

    font-size: 23px;
    display: none;
    margin: auto 15px;
}

















/* ===========================================================
                          MAIN
=============================================================== */









.allcolleges {
    margin: 40px 0px;
    /* width: 100%; */
    /* height: 100%; */
}


main::-webkit-scrollbar {
    display: none;
}





main {
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;

    background-image: url('teabook.jpg');
    background-size: cover;
    /* width: 100%;
    height: 100%;
    min-height: 100vh; */
    height: 100vw;

    background-position: center center;
    background-attachment: fixed;
    margin: 0px 0px 20px 0px;




}


main .college {
    margin: 20px 10px;
    padding: 10px 0px 10px 0px;
    position: relative;

    /* border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255); */

    border-radius: 20px;
    background-color: rgba(93, 93, 93, 0.255);
    width: 80vw;
}



/* ----------------------------college------------------------- */


/* ------name--------- */


section .name #arrow {
    
    
    display: none;
}


.college_name {
    display: flex;
    margin: 15px 20px;
    padding: 10px;
    background-color: #00000078;
    border-radius: 10px;
    width: fit-content;


    border-bottom: 2px solid rgb(206, 206, 206);
}


.college_name h1 {
    display: inline;


    font-family: 'Rowdies', cursive;
    font-size: 36px;
    font-weight: 200;
    margin: 0px 8px;
}



.college_name h1 a {
    color: var(--white);
}


.college_name #arrow {
    margin: auto 10px;
    font-size: calc(100vw / 60);
    
    transition: all .3s ease;
}


/* -------------content-------- */

.name {
    display: flex;

}


.content {
    display: flex;
    flex-direction: column;
    display: none;

}

.content section {
    display: flex;
    flex-direction: column;

    margin: 10px 40px;
    padding: 10px;

    /* background-color: rgb(174 169 169 / 14%); */

    border-radius: 20px;
    border-bottom: 1px solid rgb(94 85 85);
    /* border-right: 1px solid rgb(255, 255, 255); */
    /* box-shadow: 2px 2px 5px 0px black; */
}


.content section .name {
    width: fit-content;
    padding: 5px;
    background-color: #dfdfdf3b;
    color: #000000;
    border-radius: 10px;
    border-bottom: 1px solid rgb(53, 52, 52);

}


.content section .name h2 {
    display: inline;


    font-family: 'Noto Serif', serif;
    font-size: 22px;
    margin: 0px 10px;

}





.content .section_ul {
    margin: 0px 60px 20px 60px;
}

.content .section_ul li {
    margin: 30px 0px;

}

.content .section_ul li a {
    font-size: 27px;

    font-family:'Domine', serif;
    color: var(--white);
}

.content .section_ul li a:hover{
    color: rgb(0, 238, 255);
}












/* ###########################################################

                      Work Cards
                      
######################################################### */















.work {
    display: grid;
    background: url('bgimg2.jpeg') center center;
    background-attachment: fixed;
    grid-template-columns: repeat(2, minmax(300px, 500px));


    max-width: 930px;
    max-height: 100vh;
    justify-content: left;
    overflow: auto;

    margin: 50px auto;
    padding: 20px 80px;
    border-radius: 20px;


    border-bottom: 2px solid gray;



}


.work .cards::-webkit-scrollbar {
    display: none;
}
.work::-webkit-scrollbar {
    display: none;
}

.work .cards {

    max-width: 500px;
    height: 250px;
    margin: 20px;

    display: flex;
    flex-direction: column;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;

    background-color: rgb(255, 255, 255);
    padding: 5px 20px;

    overflow-y: scroll;
}

.work .cards .title {
    /* text-align: center; */
    font-family: 'Rowdies', cursive;
    border-bottom: 1px solid black;
    font-weight: 100;
    font-size: 30px;

    width: fit-content;
    padding: 0px 0px 10px 0px;
    margin: 15px 0px;
}

.work .cards .description {
    font-size: 13px;
    margin: 10px 0px;
    font-family: 'Domine', serif;
}



.work .cards .apply:hover {
    transition: background-color .2s ease;
    color: black;
    background-color: rgb(0, 255, 255);
}


.work .cards .apply {
    margin: 20px 0px;
    margin-top: auto;
    font-size: 16px;
    border-radius: 20px;

    padding: 5px 16px;
    background-color: rgb(239 127 26);
    font-family: 'Domine', serif;

    color: white;

    cursor: pointer;
}















/* ###########################################################

                      Contact form 
                      
######################################################### */















.contact {
    max-width: 930px;
    border-radius: 30px;



    flex-wrap: wrap;

    display: flex;
    justify-content: center;

    margin: 50px auto;
    padding: 20px 80px;


    background: url('contactimgn.jpg') center center;
    background-size: cover;

}

.contact .left {
    /* width: 400px; */
    margin: auto 10px;

    padding: 40px 50px 40px 40px;

    background-color: rgb(0 0 0 / 63%);
    /* box-shadow: 2px 2px 5px 0px rgb(0 255 255 / 78%); */


    border-radius: 20px;
}



.contact .left a {
    color: rgb(165, 168, 244);
    text-decoration: underline;
}



.contact .left h2 {
    font-size: 60px;
    margin: 10px 0px;

    color: white;


}

.contact .left p {
    font-size: 25px;

    color: white;


}

.contact .right {
    margin: auto 0px;
}

.contact .right form {
    display: flex;
    flex-direction: column;
    margin: 10px 30px;


}

.contact .right label {
    margin: 15px 0px;
    font-size: 22px;
    /* color: rgb(255, 255, 255); */

    font-family: 'Domine', serif;
}



.contact .right button {
    margin: 0px 20px 0px 0px;
    cursor: pointer;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Domine', serif;
    border: 2px solid rgb(0, 0, 0);

    color: white;
    background-color: black;
    transition: all .2s ease-in-out;


}

.contact .right #submit:hover {
    background-color: rgb(57, 245, 85);
    color: rgb(0, 0, 0);
}

.contact .right #reset:hover {
    color: white;
    background-color: rgb(254, 96, 96);
}

.contact .right input {
    height: 30px;
}


.contact .right input,
textarea {
    max-height: 150px;
    max-width: 220px;
    margin: 3px 0px;
    padding: 2px 10px;
    display: block;
}









/* ===========================================================
                           FOOTER
=============================================================== */













footer {
    margin-top: minmax(20px, auto);
    display: flex;
    flex-direction: column;


    padding: 10px 20px;
    background-color: black;
    color: white;

}


footer .social {
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: center;

    padding: 15px 0px;



}


footer .social a {
    margin: 10px 20px;
    cursor: pointer;


}


footer .social a i {
    color: white;
    font-size: 30px;

}


footer .social a i:hover {
    transition: all .2s ease;
    color: rgb(0, 166, 255);
}

footer .copyright {
    text-align: center;
}

footer .copyright p {
    font-family: 'Domine', serif;
    margin: 5px 0px;
    font-size: 13px;
}